/* all */

a{
    text-decoration: none;
    color: black;
}

/* pro-header */


.pro-header{
    margin-top: 0.1rem;
    text-align: center;
    justify-content: center;
    display: flex;
}

.pro-header > .story > a{
    font-size: 0.8rem;
    margin-right: 3rem;
    font-weight: 700;
}

.pro-header > .refund> a{
    font-size: 0.8rem;
    font-weight: 700;
}

.pro-header > .story > a:hover{
    color: rgb(54, 135, 38);
}

.pro-header > .refund> a:hover{
    color: rgb(54, 135, 38);
}

.pro-header-hr>hr{
    border: 1px;
    margin:0;
    margin-top:0.2rem;
}

/* pro-main */
.pro-main{
    margin-top: 4rem;
}

/* carousel */

.pro-main{
    display: flex;
    position: relative;

}

.pro-main>.pro-content{
    display: block;
    width: 40rem;
    margin-left: 15rem;
}

.pro-main > .pro-content > .carousel > .carousel-inner > .carousel-item >img{
    border-radius: 5%;
}
/* pro-story */

.pro-main>.pro-content>.pro-story{
    margin-top: 1rem;
    font-size: 1.3rem;
    font-weight: 800;
    margin-bottom: 1rem;
}

/* pro-story-caution */
.pro-main>.pro-content>.pro-stroy-caution{
    background-color: rgb(210, 226, 207);
    font-size: 0.8rem;  
    padding: 0.7rem;
    border-radius: 10%;
    margin-bottom: 1rem;
}

/* pro-stroy-content */

.pro-main>.pro-content>.pro-story-content>img{
    width: 100%;
}

/* pro-stroy-hidden-content */
.pro-main>.pro-content>.pro-story-hidden-content{
    display: none; 
    transition: 0.5s;
}

.pro-main>.pro-content>.pro-story-hidden-content>img{
    width: 100%;

}


/* pro-story-hidden-button */
.pro-main>.pro-content>.pro-story-hidden-button>button{
    border: 1px solid rgb(72, 170, 54);
    color: rgb(54, 135, 38);
    background-color: white;
    width: 100%;
}

.pro-main>.pro-content>.pro-story-hidden-button>button:hover{
    background-color: rgb(210, 226, 207);
    transition: 0.5s;
}


.pro-sub{
    width: 30rem;
}

/* pro-order-text */

.pro-main>.pro-content >.pro-order-text{
    border-radius: 5%;
    padding-top: 1rem;
    margin-top: 4rem;
    padding-bottom: 1rem;
    background-color: rgb(246, 248, 244);
}

/*  pro-order-text-title */

.pro-main>.pro-content >.pro-order-text> .pro-order-text-title{
    margin-left: 2rem;
    margin-bottom: 1.5rem;
    font-weight: 700;   
    font-size: 1.2rem;
}

/* pro-order-text-list */

.pro-main>.pro-content >.pro-order-text> .pro-order-text-list{
    margin-left: 0.5rem;
}

.pro-main>.pro-content >.pro-order-text> .pro-order-text-list > .pro-order-text-list-title{
    font-weight: 600;
    opacity: 0.8;
    margin-bottom: 0.5rem;
    font-size: 1rem;   
}

.pro-main>.pro-content >.pro-order-text> .pro-order-text-list >ul> li{
    
    opacity: 0.9;
}


/* pro-sub */

/* pro-sub all */

.pro-main> .pro-sub{
    position: relative;
}

.pro-main> .pro-sub >.pro-sub-box{
    border-radius: 5%;
    height: 650px;
    width: 31vw;    
    background-color: rgb(246, 248, 244);
    position: fixed;
    right: 14rem;
    top: 6rem;
}

/* pro-sub-header */
.pro-main >.pro-sub >.pro-sub-box> .pro-sub-header{
    display: flex;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    justify-content: space-between;
}

.pro-main >.pro-sub > .pro-sub-box>.pro-sub-header>.pro-category{
    margin-left: 1rem;
    font-size: 1rem;
    opacity: 0.7;
}

.pro-main >.pro-sub > .pro-sub-box>.pro-sub-header>.pro-shared{
    margin-right: 1rem;
    font-size: 1.3rem;
    opacity: 0.7;

}

/* pro-sub-hr */
.pro-main >.pro-sub>.pro-sub-box>.pro-sub-hr{
    opacity: 0.1;
}

/* pro-sub=text */
.pro-main >.pro-sub >.pro-sub-box>.pro-sub-text{
    margin-left: 1rem;
    margin-right: 1rem;
}


.pro-main >.pro-sub >.pro-sub-box>.pro-sub-text>.pro-sub-text-title{
    font-size: 1.15rem;
    font-weight: 900;
}

.pro-main >.pro-sub >.pro-sub-box>.pro-sub-text>.pro-sub-text-content{
    margin-top: 1rem;
    font-size: 0.85rem;
    opacity: 0.7;
}

.pro-main >.pro-sub >.pro-sub-box>.pro-sub-text>.pro-sub-text-funding-peoples{
    margin-top: 1rem;
    font-weight: 700;
    font-size: 1.1rem;
    color: rgb(54, 135, 38);

}

.pro-main >.pro-sub >.pro-sub-box>.pro-sub-text>.pro-sub-text-funding-amount{
    margin-top: 1rem;
    font-weight: 700;
    font-size: 1.1rem;
    color: rgb(54, 135, 38);

}

/* pro-sub-btns */

/* pro-sub-notify */

.pro-main >.pro-sub >.pro-sub-box> .pro-sub-btns{
    display: flex;
    margin-left: 3rem;
    margin-bottom: 1.5rem;
}

.pro-main >.pro-sub >.pro-sub-box> .pro-sub-btns>.pro-sub-notify{
    width: 3rem;
    height: 3rem;
    border: 2px solid;
    opacity: 0.3;
    text-align: center;
    border-radius: 5%;
}

.pro-main >.pro-sub >.pro-sub-box> .pro-sub-btns>.pro-sub-notify:hover{
    background-color: rgb(233, 225, 225);
}

.pro-main >.pro-sub >.pro-sub-box> .pro-sub-btns>.pro-sub-notify>.pro-sub-notify-peoples{
    font-size: 1rem;
    font-weight: 600;
}

.pro-main >.pro-sub >.pro-sub-box> .pro-sub-btns>.pro-sub-notify>button{
    border: 0;
    background-color: transparent;
    font-size: 1.25rem;
}

/* pro-sub-fundding */

.pro-main >.pro-sub >.pro-sub-box> .pro-sub-btns>.pro-sub-fundding{
    width: 18rem;
    height: 3rem;
    text-align: center;
    background-color: rgb(72, 170, 54);
    margin-left: 7rem;
    border-radius: 3%;
}

.pro-main >.pro-sub >.pro-sub-box> .pro-sub-btns>.pro-sub-fundding> button{
    border: 0;
    background-color: transparent;
    color: white;
    margin-top: 0.7rem;
}

.pro-main >.pro-sub >.pro-sub-box> .pro-sub-btns>.pro-sub-fundding:hover{
    background-color: rgb(65, 153, 50);
}

/* pro-seller */

.pro-main >.pro-sub>.pro-sub-box>.pro-seller{
    margin-top: 2rem;
    margin-left: 1rem;
}

/* pro-seller-header */
.pro-main >.pro-sub>.pro-sub-box>.pro-seller>.pro-seller-header{
    display: flex;
    align-items: center;
}


.pro-main >.pro-sub>.pro-sub-box>.pro-seller>.pro-seller-header>.pro-seller-header-img>img{
    width: 3vw;
    height: 3wh;
}

.pro-main >.pro-sub>.pro-sub-box>.pro-seller>.pro-seller-header>.pro-seller-header-content{
    font-weight: 700;
    opacity: 0.8;
    font-size: 1.6rem;
    margin-left: 2rem;
}

/* pro-seller-content */
.pro-main >.pro-sub>.pro-sub-box>.pro-seller>.pro-seller-content{
    margin-top: 1rem;
    opacity: 0.5;
    font-size: 0.9rem;
}

/* header-btn */
.pro-main> .header-btn{
    position: fixed;
    top: 90%;
    left: 90%;
    border: none;
}

.pro-main> .header-btn>button{
    background-color: rgb(72, 170, 54);
    border: 0;
    border-radius: 10%;
    color: white;
}

.pro-main> .header-btn>button:hover{
    background-color: rgb(65, 153, 50);
}



.pro-main> .header-btn>div{
    font-size: 0.8rem;
}