/* minimum width 설정 */
.my-custom-container{
    min-width: 500px;
}

/* all */
a{
    text-decoration: none;
    color: black ; 
}
/* header-p */
#header-p{
    margin-top: 20px;
    margin-bottom: 20px;
    /* border: 1px solid red; */
}
/* .container{border: 1px solid red;} */

/* pro-header */
.container>.pro-header{
    /* border: 1px solid green; */
    text-align: center;
    justify-content: center;
    display: flex;
}
.container>.pro-header>.story{
    margin-right: 80px;
    font-weight: bold;
}
.container>.pro-header>.story>a{
    color: black;
}
.container>.pro-header>.refund{
    font-weight: bold;
}
.container>.pro-header>.refund>a{
    color: black;
}

/* row */
.container>.row{}

/* pro-left */
.container>.row>.pro-left{
    /* border: 1px solid violet; */
}

/* pro-banner */
.container>.row>.pro-left>#carouselExampleControls{}
.container>.row>.pro-left>#carouselExampleControls>.carousel-inner{
    /* border: 1px solid red; */
    border-radius: 5px;
}

/* pro-story */
.container>.row>.pro-left>.pro-story{
    margin-top: 10px;
    font-size:larger;
    font-weight: bold;
    /* border: 1px solid blue; */
}
.container>.row>.pro-left>.pro-story-caution{
    margin-top: 3px;
    font-size:smaller;
    /* border: 1px solid blue; */
}

/* pro-story-content */
.container>.row>.pro-left>.pro-story-content{
    margin-top: 15px;
    /* border: 1px solid blue; */
}
.container>.row>.pro-left>.pro-story-content>img{
    width: 100%;
    border-radius: 5px;
}

/* pro-story-hidden-content */
.container>.row>.pro-left>.pro-story-hidden-content{
}
.container>.row>.pro-left>.pro-story-hidden-content>img{
    /* border: 1px solid blue; */
    border-radius: 5px;
    width: 100%;
}
/* pro-story-hidden-button */
.container>.row>.pro-left>.pro-story-hidden-button{
    margin-top: 10px;
}
.container>.row>.pro-left>.pro-story-hidden-button>.btn{
    width: 100%;
}
.container>.row>.pro-left>.pro-story-hidden-button>.btn:hover{
    background-color: rgb(72, 170, 54);
}
/* pro-order-text */
.container>.row>.pro-left>.pro-order-text{
    background-color: #E5E5E5;
    margin-top: 20px;
    /* border: 1px solid red; */
    border-radius: 5px;
    padding: 20px;
}
.container>.row>.pro-left>.pro-order-text>.pro-order-text-title>.pro-order-text-title-content{
    font-weight: bold;
}
.container>.row>.pro-left>.pro-order-text>.pro-order-text-list>.pro-order-text-list-title{
    font-weight: bold;
}
.container>.row>.pro-left>.pro-order-text>.pro-order-text-list-title{
    font-weight: bold;
}

/* pro-right */
.container>.row>.pro-right{
    /* border: 1px solid blue; */
    /* border-radius: 5px; */
    /* background-color: #E5E5E5; */
    /* position: relative; */
    /* height: 800px; */
    /* min-height: 600px; */

}
/* sticky-sidebar */
.container>.row>.pro-right>.sticky-sidebar{
    /* border: 1px solid violet; */
    border-radius: 5px;
    background-color: #E5E5E5;
    padding: 20px;
    /* position: fixed; */
    /* width: 100%; */
}
.sticky-sidebar{
    position: -webkit-sticky;   /* safari용 코드 */
    position: sticky;
    top: 0;
}

/* pro-sub-header */
.container>.row>.pro-right>.sticky-sidebar>.pro-sub-header{
    /* border: 1px solid red; */
    justify-content: space-between;
}
.container>.row>.pro-right>.sticky-sidebar>.pro-sub-header>.pro-category{
    font-weight: bold;
}
.container>.row>.pro-right>.sticky-sidebar>.pro-sub-header>.pro-shared{}

/* pro-sub-text */
.container>.row>.pro-right>.sticky-sidebar>.pro-sub-text{}
.container>.row>.pro-right>.sticky-sidebar>.pro-sub-text>.pro-sub-text-title{}
.container>.row>.pro-right>.sticky-sidebar>.pro-sub-text>.pro-sub-text-content{}
.container>.row>.pro-right>.sticky-sidebar>.pro-sub-text>.pro-sub-text-funding-peoples{
    margin-top: 10px;
    /* color: rgb(54, 135, 38); */
    font-weight: bold;
}
.container>.row>.pro-right>.sticky-sidebar>.pro-sub-text>.pro-sub-text-funding-amount{
    margin-top: 10px;
    /* color: rgb(54, 135, 38); */
    font-weight: bold;
}

/* pro-sub-btns */
.container>.row>.pro-right>.sticky-sidebar>.pro-sub-btns{
    justify-content: space-between;
    /* border: 1px solid red; */
}
.container>.row>.pro-right>.sticky-sidebar>.pro-sub-btns>.pro-sub-notify{
    /* border: 1px solid blue; */
    border-radius: 5px;
    background-color: #c0c0c0;
    text-align: center;
    padding: 5px;
    width: 15%;
}
.container>.row>.pro-right>.sticky-sidebar>.pro-sub-btns>.pro-sub-notify>.material-symbols-outlined{
    /* border: 1px solid blue; */
    margin-top: 0;
    width: 100%;
    font-size:25px;
}
.container>.row>.pro-right>.sticky-sidebar>.pro-sub-btns>.pro-sub-notify>.pro-sub-notify-peoples{
    /* border: 1px solid green; */
    /* color: rgb(54, 135, 38); */
    font-size: 20px;
    font-weight: bold;
}

.container>.row>.pro-right>.sticky-sidebar>.pro-sub-btns>.pro-sub-fundding{
    /* border: 1px solid violet; */
    width: 80%;
}
.container>.row>.pro-right>.sticky-sidebar>.pro-sub-btns>.pro-sub-fundding>button{
    height: 100%;
    width: 100%;
    border: 0px solid;
    border-radius: 5px;
    background-color: rgb(72, 170, 54);
    color: white;
    font-size: larger;
}
.container>.row>.pro-right>.sticky-sidebar>.pro-sub-btns>.pro-sub-fundding>button:hover{
    color: white;
    font-weight: 700;
}

/* pro-seller */
.container>.row>.pro-right>.sticky-sidebar>.pro-seller{
    /* border: 1px solid violet; */
    border-radius: 5px;
    background-color: #c0c0c0;
    padding: 20px;
}
.container>.row>.pro-right>.sticky-sidebar>.pro-seller>.pro-seller-header{
    /* border: 1px solid red; */
    /* display: flex; */
}
.container>.row>.pro-right>.sticky-sidebar>.pro-seller>.pro-seller-header>.pro-seller-header-img{
    /* border: 1px solid yellow; */
    width: 15%;
    border-radius: 5px;
}
.container>.row>.pro-right>.sticky-sidebar>.pro-seller>.pro-seller-header>.pro-seller-header-img>img{
    width: 100%;
}
.container>.row>.pro-right>.sticky-sidebar>.pro-seller>.pro-seller-header>.pro-seller-header-content{
    /* border: 1px solid blue; */
    width: 85%;
    padding-left: 20px;
    display: flex;
    align-items: center;
    font-weight: bold;
}
.container>.row>.pro-right>.sticky-sidebar>.pro-seller>.pro-seller-content{
    margin-top: 20px;
    /* border: 1px solid blue; */
}

/* header-btn */
.container>.row>.header-btn{
    /* border: 1px solid red; */
}
.container>.row>.header-btn>button{
    border: 1px solid;
    border-radius: 3px;
    position: fixed;
    border: none;
    background-color: #E5E5E5;;
    /* color: white; */
    top: 90%;
    left: 92%;
}

/* footer-p */
#footer-p{
    margin-top: 50px;
}


