/* 헤더, 푸터 연결 */
#header-pu{
    /* position: fixed; */
    top: 3rem;
    margin-top: 2rem;
    margin-left: 2rem;
    padding-bottom: 4rem;
    left: 0;
    width: 100%;
    height: auto;
    /* z-index: 1000; 다른 콘텐츠 위에 표시되도록 설정 */
}
#footer-pu{
    position: relative;
    top: 15rem;
    bottom: 0; /*화면 하단에 고정 */
    left: 0;
    width: 100%;
    height: auto;
}

/* update-title */
.update-title {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 5vh;
}

/* update-project */
.update>form>.update-project {
    display: flex;
    height: 90vh;
}

/* update-project-images */
.update>form>.update-project>.update-project-images {
    margin-left: 6vw;
    width: 30vw;
    height: 100vh; 
    background-color: rgb(210, 226, 207);
    
}
.update>form>.update-project>.update-project-images #image_container img {
    height: 30rem;
    width: 29.9vw;  
}

/* update-project-info */
.update>form>.update-project>.update-project-info {
    margin-left: 7vw;
    background-color: rgb(210, 226, 207);
    width: 50vw;
}

.update>form>.update-project>.update-project-info>.update-project-info-title {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
}

.update>form>.update-project>.update-project-info>form>.form-label {
    font-size: 1.1rem;
    font-weight: 600;
    margin-top: 2.5vh;
}

.update>form>.update-project>.update-project-info>.pro-input-text{
    height: 35vh;
    width: 48vw;
}

/* update-project-images */


.update>form>.update-project>.update-project-images {
    margin-left: 6vw;
    width: 30vw;
    white-space: nowrap;
}
.update>form>.update-project>.update-project-images>.update-project-image-title{
    font-size: 1.5rem;
    font-weight: 700;    
}

.update>form>.update-project>.update-project-images>.update-project-image-mainfile{
    width: auto;
}

.update>form>.update-project>.update-project-images>#image_container{
    height: 25vw;
    width: 100%;
    border: 2px solid rgb(255, 255, 255);
    overflow: hidden;
}


.update>form>.update-project>.update-project-images>.update-project-image-insert {
    width: 100%;
    margin: 2vh auto;
    height: 20vh;
    box-sizing: border-box;
    overflow-x: auto;
    border: 2px solid rgb(255, 255, 255);}


.update>form>.update-project>.update-project-images>.update-project-image-insert .update-project-image-file-list .filebox .name {
    display: flex;
}

.update>form>.update-project>.update-project-images>.update-project-image-insert .update-project-image-file-list .filebox .delete {
    display: flex;
    cursor: pointer;
    color: #ff5353;
}


.update>form>.update-project>.update-project-images>.update-project-image-title{
    margin-top: 1vh;
    font-size: 1.5rem;
    font-weight: 700;    
    margin-bottom: 2vh;
}


.update>form>.update-project>.update-project-images>.update-project-image-subtitle{
    margin-top: 1vh;
    font-size: 1.5rem;
    font-weight: 700; 
}

.update>form>.update-project>.update-project-images>.update-project-image-subfile-role{
    font-size: 0.9rem;
    font-weight: 700;
    opacity: 0.7;
    height: 5vh;
    width: 100%;
}

.update>form>.update-pro-button-div{
    margin-left: 43vw;
    margin-top: 3vh;
}

.update>form>.update-pro-button-div>.update-pro-button{
    width: 50vw;
    height: 6vh;
    border: 0;
    font-weight: 600;
    font-size: 2rem;
}

.update>form>.update-pro-button-div>.update-pro-button:hover{
    background-color: rgb(210, 226, 207);
    transition: 0.5s;
}