HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
#.vscode/

### DataSourceConfig ###
/src/main/java/com/example/app/config/DataSourceConfig.java
### SecurityConfig ###
##/src/main/java
### WebConfig ###
##/src/main/java/com/example/app/config/WebConfig.java


### SECRET KEY INFO ###
application-SECRET-KEY.properties


### ProjectServiceImpl ###
##/src/main/java/com/example/app/domain/service/ProjectServiceImpl.java