.container>.order-product-box>.order-product>.table td{
    vertical-align : middle;
}

.container>.cost-box>.cost>div{
    display: flex;
    justify-content: space-between;
}

.container>.cost-box>.cost>div>p{
    width: 40vw;
    text-align: center;
}

.container>.buyer-info-box>.buyer-info>.buyer-info-input .title{
    text-align: center;
    line-height: 40px;
    padding:0;
}

.container>.buyer-info-box>.buyer-info>.buyer-info-input>.addr>.input-group{
    padding: 0;
}

.container>.pay-box>.form-check {
    display: flex;
    justify-content: center;
}