.container>.order-product-box>.order-product>.table td{
    vertical-align : middle;
}

.container>.cost-box>.cost>div{
    display: flex;
    justify-content: space-between;
}

.container>.cost-box>.cost>div>p{
    width: 40vw;
    text-align: center;
}

/* form */


/* buyer-info */
.container>form>.buyer-info-box>.buyer-info input{
    max-width: 500px;
}

.container>form>.buyer-info-box>.buyer-info .post-code{
    max-width: 415px;
}

.container>form>.buyer-info-box>.buyer-info .input-group{
    max-width: 500px;
}
.container>form>.buyer-info-box>.buyer-info textarea{
    max-width: 500px;
    height: 100px;
}
.container>form>.buyer-info-box>.buyer-info>.buyer-info-input .pay-chk>.pay-btn{
    max-width: 500px;
}