<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- BS5 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <!-- CSS -->
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/mypage/buyer/editProfile.css">
    <!-- JS -->
    <script language="javascript" src="/js/myPage/buyer/editProfile.js"></script>
</head>

<div th:replace="fragments/header :: afterLoginHeader"></div>
<body>
    <div class="container py-5">
        <h3 class="fw-bolder mb-4 text-center">프로필 정보 설정</h3>
        <form name="edit" action="/th/myPage/buyer/editProfileSave" method="post">
            <div class="editProfile-img row">
                <h5 class="mt-3 text-center">프로필 사진</h5>
                <div class="img-box mt-4">
                    <a href="javascript:void(0)">
                        <img th:src="@{/images/myPage/basicProfile.png}" class="d-block img-thumbnail" alt="기본프로필">
                    </a>
                </div>
            </div>
            <div class="editProfile-addr row mt-4 justify-content-center p-4">
                <div class="input-group p-0 w-auto justify-content-center">
                    <input id="edit-post-code" name="addrCode" class="post-code form-control m-1" type="text" placeholder="우편번호" aria-describedby="button-addon1" readonly>
                    <button class="btn btn-outline-success m-1" onclick="execDaumPostcode()" type="button" id="button-addon1">주소 검색</button>
                    <div class="w-100"></div>
                    <input id="edit-road-addr" class="road-addr form-control m-1" type="text" placeholder="도로명주소" name="addrRoad" readonly >
                    <div class="w-100"></div>
                    <input id="addr-detail" class="form-control m-1" type="text" placeholder="상세 주소 입력" name="addrDetail">
                </div>
            </div>
            <div class="editProfile-tel row m-3 justify-content-center">
                <div class="input-group p-0">
                    <input type="hidden" name="userId" th:value="${userDto.userId}">
                    <input type="hidden" name="userPw" th:value="${userDto.userPw}">
                    <input type="hidden" name="role" th:value="${userDto.role}">
                    <input id="userName" name="userName" class="tel form-control my-1 me-2" type="text" placeholder="사용자 이름 입력" aria-describedby="edit-tel-btn" th:value="${userDto.userName}">
                    <div class="w-100"></div>
                    <input id="tel" class="tel form-control my-1 me-2" type="text" placeholder="전화번호 : 인증 시 자동으로 입력됩니다." aria-describedby="edit-tel-btn" name="phone" readonly>
                    <a href="javascript:void(0)" id="edit-tel-btn" class="btn btn-outline-success my-1 auth_btn">인증하기</a>
                    <input type="hidden" id="validationMessageTel">
                </div>
            </div>
            <div class="editProfile-btn row justify-content-center mt-5">
                <button type="button" onclick="history.back()" class="btn btn-success m-2 col-6">취소</button>
                <button type="submit" class="btn btn-success m-2 col-6" id="saveBtn">저장</button>
            </div>
        </form>
    </div>
    <!-- 주소 검색용 JS -->
    <script async src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script src="https://cdn.iamport.kr/v1/iamport.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.2/axios.min.js" integrity="sha512-JSCFHhKDilTRRXe9ak/FJ28dcpOJxzQaCd3Xg8MyF6XFjODhy/YMCM8HW0TFDckNHWUewW+kfvhin43hKtJxAw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
    IMP.init("imp83318333");

    const auth_btn = document.querySelector('.auth_btn');
    auth_btn.addEventListener('click', function(){

        IMP.certification({
        pg: "inicis_unified.INIpayTest",
        merchant_uid: "test_lxhjouai",
        },function(resp){
            console.log(resp);
            const imp_uid = resp.imp_uid;

            axios.get(`/th/myPage/buyer/getAuthInfo/${imp_uid}`)
              .then(response => {
                   console.log(response);
                   const phone = response.data.response.phone; // 응답에서 전화번호 추출
                   const certified = response.data.response.certified; // 최종 체크에 필요
                        document.getElementById('tel').value = phone; // 전화번호 입력칸에 값 설정
                        document.getElementById('validationMessageTel').value = certified;
              })
              .catch(error => {
                   console.log(error);
              });
        });

    });

    // 저장 버튼 클릭 시 이벤트 처리
    document.getElementById('saveBtn').addEventListener('click', function(event) {
        const validationMessageTel = document.getElementById('validationMessageTel').value;
        if (validationMessageTel !== 'true') {
            event.preventDefault(); // 기본 동작(폼 제출) 중단
            alert("인증을 완료해 주세요!"); // 메시지 출력
        }
    });
    </script>
</body>
<div th:replace="fragments/footer :: footer"></div>
</html>