<!-- adminHeader -->
<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.w3.org/1999/xhtml">
<div th:fragment="adminHeader">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <!-- BS5 -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
              crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
                crossorigin="anonymous"></script>
        <!-- CSS -->
        <link rel="stylesheet" href="/css/common.css">
        <link rel="stylesheet" href="/css/main/adminHeader.css">
    </head>
    <body>
    <header>
        <div class="container my-custom-container" id="AdminHeader">
            <div class="row">
                <div class="header-left col-md-2">
                    <a href="javascript:void(0)">
                        <img th:src="@{/images/main/logo/logo.png}" alt="" class="header-logo">
                    </a>
                </div>

                <div class="header-right col-md-10">
                    <div class="header-nav">
                        <div class="nav-1">
                            <a href="javascript:void(0)" class="">로그아웃</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    </body>

</div>

</html>

<!-- afterLoginHeader -->
<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.w3.org/1999/xhtml">
<div th:fragment="afterLoginHeader">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <!-- BS5 -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
              crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
                crossorigin="anonymous"></script>

        <!-- CSS -->
        <link rel="stylesheet" href="/css/common.css">
        <link rel="stylesheet" href="/css/main/afterLoginHeader.css">

        <link rel="stylesheet"
              href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
        <style>
            .material-symbols-outlined {
              font-variation-settings:
              'FILL' 1,
              'wght' 700,
              'GRAD' 200,
              'opsz' 48
            }

        </style>

        <!-- AXIOS CDN -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.2/axios.min.js"
                integrity="sha512-JSCFHhKDilTRRXe9ak/FJ28dcpOJxzQaCd3Xg8MyF6XFjODhy/YMCM8HW0TFDckNHWUewW+kfvhin43hKtJxAw=="
                crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    </head>
    <body>
    <header>
        <div class="container my-custom-container" id="AfterLoginHeader">
            <div class="row">
                <div class="header-left col-md-2">
                    <a href="javascript:void(0)">
                        <img th:src="@{/images/main/logo/logo.png}" alt="" class="header-logo">
                    </a>
                </div>

                <div class="header-right col-md-10">
                    <div class="header-nav">
                        <div class="nav-1">
                            <a href="javascript:void(0)" onclick="logout()" class="">로그아웃</a>
                        </div>
                        <div class="nav-2">
                            <a th:href="@{/th/myPage/buyer/buyer}" class="">마이페이지</a>
                        </div>
                        <div class="nav-3">
                            <a href="javascript:void(0)" class="">
                                <span class="material-symbols-outlined">notifications</span>
                            </a>
                        </div>
                        <div class="nav-4">
                            <a th:href="@{/th/myPage/seller/projectCreate}" class="btn">프로젝트 만들기</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <script>
        function logout() {
            axios.post("/logout")
            .then(resp => {
                console.log("로그아웃 성공");
                window.location.href = "/th/main/main";
                return true;
            })
            .catch(error => {
                console.log(error);
                return false;
            });
        }
    </script>
    </body>

</div>

</html>

<!-- beforeLoginHeader -->
<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.w3.org/1999/xhtml">
<div th:fragment="beforeLoginHeader">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <!-- BS5 -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
              crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
                crossorigin="anonymous"></script>

        <!-- CSS -->
        <link rel="stylesheet" href="/css/common.css">
        <link rel="stylesheet" href="/css/main/beforeLoginHeader.css">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    </head>
    <body>
    <header>
        <div class="container my-custom-container" id="BeforeLoginHeader">
            <div class="row">
                <div class="header-left col-md-2">
                    <a href="javascript:void(0)">
                        <img th:src="@{/images/main/logo/logo.png}" alt="" class="header-logo">
                    </a>
                </div>

                <div class="header-right col-md-10">
                    <div class="header-nav">
                        <div class="nav-1">
                            <a th:href="@{/th/member/login}" class="">로그인</a>
                        </div>
                        <div class="nav-2">
                            <a th:href="@{/th/member/signUp}" class="">회원가입</a>
                        </div>
                        <div class="nav-4">
                            <a href="javascript:void(0)" class="btn">프로젝트 만들기</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    </body>

</div>

</html>