@font-face {
    font-family: "Google";
    src: url("./font/NotoSansKR-VariableFont_wght.ttf");
}

* {
    font-family: "Google";
    box-sizing: border-box;
}

.btn-success {
    background-color: #71d089;
    border-color:  #71d089;
}
.btn-success:hover, .btn:active, .btn:focus{
    background-color:#5dbb74;
    border-color:  #5dbb74;
}

.btn-outline-success{
    color: #71d089;
    border-color: #71d089;
}

.btn-outline-success:hover{
    background-color: #71d089;
    border-color: #71d089;
}

.btn:active, .btn:focus {
    outline:none !important;
    box-shadow:none !important;
}

input:focus{
    box-shadow: none !important;
    border : 1px solid #71d089 !important;
}