/* minimum width 설정 */
.my-custom-container{
    min-width: 500px;
}
/* table 값 가운데 정렬 */
table td, table th {
    text-align: center;
}

/* .adminPage-right */
.container>.row>.adminPage-right{
    background-color:rgb(241, 241, 241)
}

/* .adminPage-right>.admin-project */
.container>.row>.adminPage-right>.admin-project{
    margin: 30px 10px 30px 10px;
    background-color: white;
    border-radius: 1%;
}
.container>.row>.adminPage-right>.admin-project>.subject{
    padding-top: 20px;
    padding-left: 20px;
}
.container>.row>.adminPage-right>.admin-project>.apply-project-chart{
    padding: 20px 20px 10px 20px;
}
.container>.row>.adminPage-right>.admin-project>.registered-project-chart{
    padding: 20px 20px 10px 20px;
}
.container>.row>.adminPage-right>.admin-project>.container{
    border: 1px solid transparent;
}
.container>.row>.adminPage-right>.admin-project>.container>.btns{
    margin-bottom: 20px;
}
.container>.row>.adminPage-right>.admin-project>.container>.btns>button{
    margin-left: 5px;
}

/* .adminPage-left */
.adminPage-left{
    background-color: rgb(246, 248, 244);
}

