@charset "utf-8";
@import url("http://3.39.29.162:8080/css/admin/adminPageLeft.css");

/* .adminPage-left */
.img-box{
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-box>img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.side-menu{
    margin-top: 100px;
}
.side-menu a{
    padding-left: 0;
    margin-bottom: 10px;
}
