/* minimum width 설정 */
.my-custom-container{
    min-width: 500px;
}

/* .project-manage-left */
.container{
    /*border: 1px solid;*/
}
.container>form>.row{
    /* border: 1px solid red; */
}
.container>form>.row>.project-manage-left{
    /* border: 1px solid blue; */
}
.container>form>.row>.project-manage-left>.project-image-files{
    /* border: 1px solid blue; */
    border-radius: 10px;
    background-color: #E5E5E5;
    padding: 15px;
    height: 100%;
}
.container>form>.row>.project-manage-left>.project-image-files>.project-image-mainfile{
    /* border: 1px solid red; */
    width: 100%; 
    margin-bottom: 5px;
}
.container>form>.row>.project-manage-left>.project-image-files>#image_container{
    /* height:25vw; */
    height: 300px;
    /* border: 1px solid blue; */
    border-radius: 5px;
    background-color: white;
}
.container>form>.row>.project-manage-left>.project-image-files>.project-image-subfile{
    /*border: 1px solid red;*/
    width: 100%;
    margin-bottom: 5px;
}
.container>form>.row>.project-manage-left>.project-image-files>.project-image-subfile-list{
    height: 300px;
    overflow: auto;
    /*border: 1px solid blue;*/
    border-radius: 5px;
    background-color: white;
    padding: 10px;
}
.project-image-subfile-list .filebox p {
    font-size:13px;
    display: inline-block;
}
.project-image-subfile-list .filebox .delete{
    margin-left: 10px;
    /*border: 1px solid red;*/
    /*display: inline-block;*/
    width: 30px
}
.project-image-subfile-list .filebox .delete p {
    /*border: 1px solid red;*/
    color: #ff5353;
    margin-left: 5px;
    display: inline-block;
    cursor: pointer;
}


/* .project-manage-right */
.container>form>.row>.project-manage-right{
    /* border: 1px solid violet; */

}
.container>form>.row>.project-manage-right>.project-info{
    /* border: 1px solid blue; */
    border-radius: 10px;
    height: 100%;
    background-color: #E5E5E5;
}
.container>form>.row>.project-manage-right>.project-info>.form-label{
    /* border: 1px solid blue; */
}
.container>form>.row>.project-manage-right>.project-info>textarea{
    border: 1px solid #E5E5E5;
    width: 95%;
    border-radius: 5px;
    height: 150px;
}
.container>form>.row>.project-manage-right>.project-info>.form-select{
    /* border: 1px solid blue; */
    width: 60%;
}
.container>form>.row>.project-manage-right>.project-info>.form-control{
    /* border: 1px solid blue; */
    width: 60%;
}

/* buttons */
.container>form>.row>.container{}
.container>form>.row>.container>.btns{}
.container>form>.row>.container>.btns>button{
    margin-left: 15px;
    width: 80px;
}
