
/* 헤더, 푸터 연결 */
#header-l{
    /* position: fixed; */
    top: 5rem;
    margin-top: 2rem;
    margin-left: 6rem;
    padding-bottom: 4rem;
    left: 0;
    width: 95%;
    height: auto;
    /* z-index: 1000; 다른 콘텐츠 위에 표시되도록 설정 */
}
#footer-l{
    position: absolute;
    top: 65rem;
    bottom: 0; /*화면 하단에 고정 */
    left: 0;
    width: 100%;
    height: auto;
}

/* all */
.login{
    text-align: center;
}

/* login-logo */
.login > .login-logo{
    margin-top: 5vh;
    margin-bottom: 3vh;
}

.login > .login-logo > a >img{
    max-width: 300px;
}


/* login-form */
.login .login-form>.login-inner{
    width:340px;
}

.login .login-form>.login-inner>.lost-login{
    text-align: end;
    
}

.login .login-form>.login-inner>.lost-login>a{
    text-decoration: none;
    color: darkgray
}

.login .login-form>.login-inner>.btn{
    width: 300px;
    height:45px;
}

.login .login-form>.external-login>.external-login-kakao button{
    background-color: #FEE500;
    width:300px; height:45px;
    position:relative;
    font-size: smaller;
}

.login .login-form>.external-login>.external-login-kakao img{
    width:30px; height:30px;
    position:absolute;
    left:8px; top:8px;
}

.login .login-form>.external-login>.external-login-naver button{
    background-color: rgb(3, 199, 90); 
    width:300px; height:45px;
    position:relative;
    font-size: smaller;
    color: white;
}

.login .login-form>.external-login>.external-login-naver img{
    width:30px; height:30px;
    position:absolute;
    left:8px; top:8px;
} 

/* login-bottom */
.login .login-bottom>.join-login>span{
    color: darkgray;
}

.login .login-bottom>.join-login>a{
    text-decoration: none;
    color: #71d089;
}

.login .login-bottom>.join-login>a:hover{
    color: #5dbb74;
}