/* all */
.login{
    text-align: center;
}

/* login-logo */

.login >.login-container > .login-logo{
    margin-top: 5vh;
    margin-bottom: 3vh;
}

.login >.login-container > .login-logo > a >img{
    width: 13vw;
    height: 9vh;
}

/* login-form */

.login >.login-container >.login-form>.login-inner-form{
    justify-content: center;
}

.login >.login-container >.login-form>.login-inner-form >form>.input{
    width: 30vw;
    margin-top: 2vw;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.login >.login-container >.login-form>.login-inner-form >form>.lost-login>a{
    text-decoration: none;
    margin-left: 10vw;
    font-size: 0.9rem;
    opacity: 0.7;
    color: black;
}

.login >.login-container >.login-form>.login-inner-form >form>.lost-login>a:hover{
    color: rgb(54, 135, 38);
}

.login >.login-container >.login-form>.login-inner-form >form>button{
    width: 11vw;
    height: 5vh;
    margin-top: 4vh;
    border: 0;
    color: white;
    background-color: rgb(72, 170, 54); 
    border-radius: 5%;
    font-size: 1.4rem;
    font-weight: 700;
}


/* external-login */

.login > .external-login > .external-login-kakao{
    margin-top: 5vh;
}

.login > .external-login > .external-login-naver{
    margin-top: 3vh;
}
.login > .external-login > .external-login-kakao>a>img {
    width: 10vw;
    height: 4vh;
    border-radius: 5%;
}

.login > .external-login > .external-login-naver>a>img {
    width: 10vw;
    height: 4vh;
    border-radius: 5%;
}




/* join-login */

.login>.join-login{
    display: flex;
    justify-content: center;
    margin-top: 2vh;
}


.login>.join-login>p{
    opacity: 0.5;
    font-weight: 700;
    
    }

.login>.join-login>a{
    font-weight: 700;
    text-decoration: none;
    color: black;
    opacity: 0.8;
    margin-left: 1vw;
}

.login>.join-login>a:hover{
    color: rgb(54, 135, 38);
}
