@font-face {
    font-family: "Google";
    src: url("./font/NotoSansKR-VariableFont_wght.ttf");
}

* {
    font-family: "Google";
    box-sizing: border-box;
}

.btn-success {
    background-color: #4cc069;
    border-color:  #4cc069;
}
.btn-success:hover, .btn:active, .btn:focus{
    background-color:#44ad5f;
    border-color:  #44ad5f;
}

.btn-outline-success{
    color: #4cc069;
    border-color: #4cc069;
}

.btn-outline-success:hover{
    background-color: #4cc069;
    border-color: #4cc069;
}

.btn:active, .btn:focus {
    outline:none !important;
    box-shadow:none !important;
}

input:focus{
    box-shadow: none !important;
    border : 1px solid #4cc069 !important;
}

.form-check-input:checked{
    background-color: #4cc069 !important;
    border-color: #4cc069 !important;
}

.accordion-button:focus {
    box-shadow: none !important;
    border-color:#4cc069 !important;
}

.accordion-button:not(.collapsed) {
    color : #4cc069 !important;
    background-color :  #f8f9fa;
}

.accordion-button::after {
    width: 0;
}