/* all */

a{
    text-decoration: none;
}

.wrapper{
    height: 4.5vw;
    display: flex;
    text-align: right;
}

/* header logo */

.header-logo{
    width: 13rem;
    height: 4.5rem;
    margin-left: 2vw;
}


/* header-nav */

.header-nav{
    width: 100%;
    justify-content: end;
    display: flex;
    align-items: center;
}

.HN{
    font-size:1.3rem;
    margin-left: 1.5vw;
    font-weight: 500;
    color: black;
}

.a-color1, .a-color2{
    color: black;
}

.a-color1:hover, .a-color2:hover{
    color: black;
    font-weight: 700;
}

.a-color3{
    color: rgb(72, 170, 54);

}


.a-color4{
    color: white;
    width: 5rem;
    height: 10rem;
}

.a-color4:hover{
    color: white;
    font-weight: 700;
}
.HN-4{
    margin-right: 10vw;
    padding: 0.7rem;
    background-color: #71d089;
}

.HN-4:hover{
    background-color: #5dbb74;
}