/* 헤더, 푸터 연결 */
#header-m, #footer-m{
    /* display: block; */
}
#header-m{
    /* position: fixed; */
    top: 0;
    margin: 20px;
    left: 0;
    width: 100%;
    height: auto;
    /* z-index: 1000; 다른 콘텐츠 위에 표시되도록 설정 */
}
#footer-m{
    position: absolute;
    top: 1500px;
    bottom: 0; /*화면 하단에 고정*/
    left: 0;
    width: 100%;
    height: auto;
    /* margin-bottom: 0px; */
}
.wrapper1{
    margin-top: 8rem;
}

.carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
    border: 0;
    border-radius:50%;
    margin-left: 10px;
    background-color: white;
}

.carousel-indicators .active{
    width: 10px;
    height: 10px;
    background-color: green;
}

.carousel-inner>.carousel-item p.text-start {
    margin : 0;
}

.main{
    /* border:1px solid; */
    padding: 20px;
    margin-bottom: 30px;
}

.main>.main-header {
    /* border: 1px solid; */
    justify-content: center;
    align-items:flex-end;
    /* height: 12vh; */
    padding: 10px;
}

.main>.main-header>.sort-project{
  height:5vh;
}

.main>.main-header>.category>.nav a{
    text-decoration: none;
    font-size: 1.3rem;
    color : rgb(153, 173, 153);
}

.main>.main-header>.category>.nav *:focus{
    color: green;
}

.main>.main-header .input-group>.btn{
    background-color: green;
}

.main>.main-header .input-group>.btn-outline-primary{
    color : white;
    border-color: green;
}

.main>.main-header>.sort-project{
    /* border: 1px solid; */
    /* line-height: 50px; */
    padding: 15px;
}

.main>.section {
    /* border:1px solid; */
}

.main>.section>.project-list .row>.col{
  height: auto;
}

.main>.section>.project-list .row>.col>.border{
  height: 20vh;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: white;
  
  overflow: hidden;
}

.main>.section>.project-list .row>.col>.border>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}