.container{
    margin-top: 4rem; /* 페이지 상단 여백 추가 */
}

/* mypage-buyer */
.container .mypage-buyer {
    background-color: #f8f9fa;
}

/* buyer-top */
.container .mypage-buyer>.buyer-top{
    display: flex;
    justify-content:center;
    align-items: center;
}
.container .mypage-buyer>.buyer-top>div p{
    line-height: 50px;
    margin: 0;
}
.container .mypage-buyer>.buyer-top>div a{
    text-decoration: none;
    color: #71d089;
}
.container .mypage-buyer>.buyer-top>div h1{
    line-height: 80px;
}


/* buyer-ad */
.container .mypage-buyer>.buyer-ad>.ad{
    width:545px;
    height:130px;
}


/* buyer-bottom */
.container .mypage-buyer>.buyer-bottom .btn{
    max-width : 545px;
}
.container .mypage-buyer>.buyer-bottom .btn>p{
    margin : 0;
}