/* 헤더, 푸터 연결 */
#header-b{
    /* position: fixed; */
    top: 0;
    margin-top: 2rem;
    margin-left: 6rem;
    left: 0;
    width: 95%;
    height: auto;
    /* z-index: 1000; 다른 콘텐츠 위에 표시되도록 설정 */
}
#footer-b{
    position: absolute;
    top: 70rem;
    bottom: 0; /*화면 하단에 고정 */
    left: 0;
    width: 100%;
    height: auto;
}


/* mypage-buyer */
.container .mypage-buyer {
    background-color: #f8f9fa;
}

/* buyer-top */
.container .mypage-buyer>.buyer-top{
    display: flex;
    justify-content:center;
    align-items: center;
}
.container .mypage-buyer>.buyer-top>div p{
    line-height: 50px;
    margin: 0;
}
.container .mypage-buyer>.buyer-top>div a{
    text-decoration: none;
    color: #71d089;
}
.container .mypage-buyer>.buyer-top>div h1{
    line-height: 80px;
}


/* buyer-ad */
.container .mypage-buyer>.buyer-ad>.ad{
    width:545px;
    height:130px;
}


/* buyer-bottom */
.container .mypage-buyer>.buyer-bottom .btn{
    max-width : 545px;
}
.container .mypage-buyer>.buyer-bottom .btn>p{
    margin : 0;
}