

/* 헤더, 푸터 연결 */
#header-ep{
    /* position: fixed; */
    top: 3rem;
    margin-top: 2rem;
    margin-left: 6rem;
    padding-bottom: 3rem;
    left: 0;
    width: 95%;
    height: auto;
    /* z-index: 1000; 다른 콘텐츠 위에 표시되도록 설정 */
}
#footer-ep{
    position: absolute;
    top: 70rem;
    bottom: 0; /*화면 하단에 고정 */
    left: 0;
    width: 100%;
    height: auto;
}

/* css 수정 b-box 초가 */
.container>.b-box{
    background-color: rgb(240, 240, 240);
    width: 40rem;
    padding: 7rem;
    position: relative;
    margin-right: auto;
    margin-left: auto;
}


.container>.row{
    max-width: 545px;
}

.container>.row>input{
    max-width : 545px;
}