@charset "utf-8";
@import url("http://3.39.29.162:8080/css/payment/applyRefund.css");

.my-custom-container{
    min-width: 500px;
}

@media screen and (max-width: 1024px){

    .container-r>.refund-product>.choice-box {
        flex-direction: column;
        align-items: stretch;
      }
    #choice1{
        text-align: left;
        width: 90%;
        margin-bottom: 10px;
        margin-left: 2rem;
    }
    #choice2{
        margin-left: 2rem;
        width: 90%;
    }

    .container-r>.payment-order-text{
        flex-direction: column;
        align-items: stretch;
    }
   
}

body{
    /* height: 1800px; */
}

.container-r {
    margin-top: 4rem;
    background-color: rgb(240, 240, 240);
    border-radius: 5px;
}

/* 결제했던 상품 선택 */
.container-r>.refund-product>.choice-box{
    display: flex;
    justify-content: right;
    margin-bottom: 5rem;
}
.container-r>.refund-product>.choice-box>div:nth-child(1){
    text-align: right;
    margin-right: 2rem;
}

.container-r>.refund-product>.choice-box>div>.pay-product-select{
    width: 100%;
    
}
.container-r>.refund-product>.refund-product-box>.refund-main>.col-md-6{
    display: flex;
}

.container-r>.refund-product>.refund-product-box>.refund-main>.col-md-6>img{
    min-width : 130px;
    max-width : 14vw;
    border-radius: 10px;
}

/*  */
/* .container-r>.refund-product>.refund-product-box>.refund-main>.refund-choice{
    display: flex !important;
    
} */




/* 환불 사유 */
/* .container-r>.reason-box{
   justify-content: center;
}
.container-r>.reason-box>.refund{}
.container-r>.reason-box>.refund .reufnd-reason{
    width: 200px;
    height: 30px;
}

.container-r>.reason-box>.refund>.refund-reason-text>input{
    width: 100%;
    height: 20vh;
} */

/* payment-history-guide */
.container>.payment-history-guide{
    background-color: rgb(246, 248, 244);
}



/* payment-order-text */
/* .container-r>.payment-order-text{
    display: flex;
    background-color: rgb(210, 226, 207);
    padding: 2rem;
}
.container-r>.payment-order-text>.payment-order-text-title{
    margin-top: 2vh;
    font-weight: 700;
    font-size: 1.5rem;
    width: 15rem;
}
.container-r>.payment-order-text>.payment-order-text-list{
    margin-left: 1vw;
}
.container-r>.payment-order-text>.payment-order-text-list>.payment-order-text-list-title{
    font-weight: 700;
} */

/* btn-apply */
.container-b>.btn-apply{
    border: none;
    background-color: #4cc069;
    color: white;
    padding: 0.6rem;
    width: 80%;
    /* margin: auto; */
    display: block;
    border-radius: 5px;

}
.container-b>.btn-apply:hover{
    background-color: #44ad5f;
    color: white;
    /* font-weight: 700; */
}
