@charset "utf-8";
@import url("http://3.39.29.162:8080/css/payment/payment.css");

.container-p {
    margin-top: 4rem;
    background-color: rgb(240, 240, 240);
    border-radius: 5px;
}

.my-custom-container{
    min-width: 500px;
}

.container-p>.order-product-box>.order-product-box2>.order-main>.col-md-8>img{
    min-width : 130px;
    max-width : 14vw;
    border-radius: 10px;
}

.container-p>.cost-box>.order-product-box2>.order-main>.col-6:nth-child(1){
    padding-left: 0;
}
.container-p>.cost-box>.order-product-box2>.order-main>.col-6:nth-child(2){
    padding-left: 0;
    padding-right: 1.5rem;
}
.container-p>.cost-box>.order-product-box2>.order-main>.order-price>.text-center:nth-child(2){
    /* margin-left: 3px; */
    padding-right: 0;  
}


/* form */


/* buyer-info */
.container-p>form>.buyer-info-box>.buyer-info h6{
    white-space: nowrap;
    /* border: 1px solid red; */
}

.container-p>form>.buyer-info-box>.buyer-info input{
    max-width: 500px;
}

.container-p>form>.buyer-info-box>.buyer-info .post-code{
    max-width: 415px;
}

.container-p>form>.buyer-info-box>.buyer-info .input-group{
    max-width: 500px;
}
.container-p>form>.buyer-info-box>.buyer-info textarea{
    max-width: 500px;
    height: 100px;
}

.form-check-last{
    text-align: center;
}

/* btn-apply */
.container-p>#payment-form>.buyer-info-box>.pay-chk>.btn-success{
    border: none;
    /* background-color: #38872b; */
    background-color: #4cc069;
    color: white;
    padding: 0.6rem;
    width: 80%;
    /* margin: auto; */
    display: block;
    border-radius: 5px;

}
.container-p>#payment-form>.buyer-info-box>.pay-chk>.btn-success:hover{
    background-color: #44ad5f;
    color: white;
    /* font-weight: 700; */
}
