.my-custom-container{
    min-width: 500px;
}
.container-d {
    margin-top: 4rem;
    background-color: rgb(240, 240, 240);
    border-radius: 5px;
}
.container-d>.costdetail-box>.orderdetail-product-box2>.orderdetail-main2>.col-6:nth-child(1){
    padding-left: 0;
}
.container-d>.costdetail-box>.orderdetail-product-box2>.orderdetail-main2>.col-6:nth-child(2){
    padding-left: 0;
    padding-right: 1.5rem;
}
.container-d>.costdetail-box>.orderdetail-product-box2>.orderdetail-main2>.orderdetail-price>.text-center:nth-child(2){
    /* margin-left: 3px; */
    padding-right: 0;  
}

.container-d>.orderdetail-product-box>.orderdetail-product-box2>.orderdetail-main>.col-md-8>img{
    min-width : 130px;
    max-width : 14vw;
    border-radius: 10px;
}
.container-d>.cost-box>.order-info-btns>button{
    border: 0;
    background-color: #4cc069;
    color: white;
    padding: 0.7rem 1.3rem 0.7rem 1.3rem;
    border-radius: 5px;
    display: inline;
}
.container-d>.cost-box>.order-info-btns>button:nth-child(2){
    /* margin-left: 20vw; */
}

.container-d>.cost-box>.order-info-btns>button:hover{
    background-color: #44ad5f;
}
.container-d>.delivery-state{
    display: flex;
    justify-content: space-between;
    margin-left: 3vw;
    margin-right: 3vw;
    margin-top: 14vh;
    margin-bottom: 4vh;
}

.container-d>.delivery-state>.delivery-state-contents{
    align-items: center;
    text-align: center;
    
}

.container-d>.delivery-state>.delivery-state-contents>.package_2{
    background-color: #71d089;
}

/* order-product */
#project_img{
    min-width : 130px;
    max-width : 14vw;
    border-radius: 10px;
}

/* payment-history-guide */
.container>.payment-history-guide{
    background-color: rgb(246, 248, 244);
}


