/* 헤더, 푸터 연결 */
#header-epro{
    /* position: fixed; */
    /* top: 3rem;
    margin-top: 2rem;
    margin-left: 6rem;
    padding-bottom: 3rem;
    left: 0;
    width: 95%;
    height: auto; */
    /* z-index: 1000; 다른 콘텐츠 위에 표시되도록 설정 */
}
#footer-epro{
    /* position: absolute; */
    /* top: 70rem; */
    /*화면 하단에 고정 */
    /* bottom: 0;  */
    /* left: 0; */
    /* width: 100%; */
    /* height: auto; */
}

/* editProfile-img */
.container>form>.editProfile-img>.img-box{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container>form>.editProfile-img>.img-box-bottom>a {
    text-decoration: none;
    color : rgb(66, 66, 66);
}
.container>form>.editProfile-img>.img-box>a,
.container>form>.editProfile-img>.img-box>a>img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

/* editProfile-addr */
.container>form>.editProfile-addr input{
    max-width : 430px;
}   

/* editProfile-tel */
.container>form>.editProfile-tel>.input-group{
    max-width: 430px;
}


/* editProfile-addr, editProfile-tel */
.container>form>.editProfile-addr .title,
.container>form>.editProfile-tel .title{
    width: 200px;
}

.container>form>.editProfile-addr .post-code,
.container>form>.editProfile-tel .tel{
    max-width : 334px;
}


/* editProfile-btn */
.container>form>.editProfile-btn>.btn{
    max-width : 205px;
    width: 40vw;
}