.edit-password-container>.row{
    max-width: 545px;
}

.edit-password-container>.row>input{
    max-width : 545px;
}

.edit-password-container>form>.row{
    max-width: 545px;
}

.edit-password-container>form>.row>input{
    max-width : 545px;
}