/* minimum width 설정 */
.my-custom-container{
    min-width: 500px;
}

/* logo */
.findpw>.row>.logo{
    margin-top: 5vh;
    margin-bottom: 3vh;
}
.findpw>.row>.logo img{
    max-width: 300px;
}


/* sub-title */
.findpw>.sub-title>a{
    width: 120px;
    text-decoration: none;
}
.findpw>.sub-title>.sub-id{
    color : darkgray;
}
.findpw>.sub-title>.sub-id:hover{
    color : #4cc069;
}
.findpw>.sub-title>.sub-pw{
    color : #4cc069;

}


/* findpw-main */
.findpw>.findpw-main{
    /* background-color: #71d0892c; */
}
.findpw>.findpw-main>p{
    color : rgb(90, 90, 90);
}
.findpw>.findpw-main input{
    /* max-width: 550px; */
    height: 45px;
    
}
.findpw>.findpw-main>div>form>.btn{
    /* max-width: 550px; */
    height: 45px;
}