@charset "utf-8";
@import url("http://3.39.29.162:8080/css/member/login.css");

/* minimum width 설정 */
.my-custom-container{
    min-width: 500px;
}

/* all */
.login{
    text-align: center;
    margin-bottom: 30px;
}

/* login-logo */
.login > .login-logo{
    margin-top: 5vh;
    margin-bottom: 3vh;
}

.login > .login-logo > a >img{
    max-width: 300px;
}


/* login-form */
.login .login-form>.login-inner{
    width:340px;
}

.login .login-form>.login-inner>.lost-login{
    text-align: end;
    
}

.login .login-form>.login-inner>.lost-login>a{
    text-decoration: none;
    color: darkgray
}

.login .login-form>.login-inner>.btn{
    width: 300px;
    height:45px;
}

.login .login-form>.external-login>.external-login-kakao button{
    background-color: #FEE500;
    width:300px; height:45px;
    position:relative;
    font-size: smaller;
}

.login .login-form>.external-login>.external-login-kakao img{
    width:30px; height:30px;
    position:absolute;
    left:8px; top:8px;
}

.login .login-form>.external-login>.external-login-naver button{
    background-color: rgb(3, 199, 90); 
    width:300px; height:45px;
    position:relative;
    font-size: smaller;
    color: white;
}

.login .login-form>.external-login>.external-login-naver img{
    width:30px; height:30px;
    position:absolute;
    left:8px; top:8px;
} 

/* login-bottom */
.login .login-bottom>.join-login>span{
    color: darkgray;
}

.login .login-bottom>.join-login>a{
    text-decoration: none;
    color: #4cc069;
}

.login .login-bottom>.join-login>a:hover{
    color: #44ad5f;
}