/* minimum width 설정 */
.my-custom-container{
    min-width: 500px;
}

/* logo */
.signup>.external-signup>.external-signup-img{
    margin-top: 5vh;
    margin-bottom: 3vh;
    
}
.signup>.external-signup>.external-signup-img img{
    max-width: 300px;
}

/* external-login */
.signup>.external-signup>.external-login>.external-login-kakao{
    width:300px; height:45px;
}
.signup>.external-signup>.external-login>.external-login-kakao button{
    background-color: #FEE500;
    width:300px; height:45px;
    position:relative;
    font-size: smaller;
}
.signup>.external-signup>.external-login>.external-login-kakao img{
    width:30px; height:30px;
    position:absolute;
    left:8px; top:8px;
}
.signup>.external-signup>.external-login>.external-login-naver{
    width:300px; height:45px;
}
.signup>.external-signup>.external-login>.external-login-naver button{
    background-color: rgb(3, 199, 90); 
    width:300px; height:45px;
    position:relative;
    font-size: smaller;
    color: white;
}
.signup>.external-signup>.external-login>.external-login-naver img{
    width:30px; height:30px;
    position:absolute;
    left:8px; top:8px;
}



/* signup-personal */
.signup>.signup-personal>form{
    width: 300px;
}
/* accordion */
.signup>.signup-personal>form>.accordion .accordion-header button{
    height : 45px;
}
.signup>.signup-personal>form>.accordion .accordion-header span{
    color : #4cc069;
}
.signup>.signup-personal>form>.accordion .accordion-body{
    height: 150px;
    overflow-y: scroll;
}
/* signup-btn */
.signup>.signup-personal>form>.signup-btn>button{
    width: 300px;
    height: 45px;
}